<div class="row">
    <div class="col-md-2">
        <button class="btn btn-primary" (click)="show()">
            Add
        </button>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary" href="https://www.besttopsystems.net:59990/" target="_blank">
            Show Promotions
        </a>
    </div>
</div>

<div class="row">
    <ag-grid-angular #eventGrid style="width: 100%; height: 450px;" class="ag-theme-alpine" [columnDefs]="columnDefs"
        [rowSelection]="rowSelection" animateRows (gridReady)="onGridReady($event)"
        (rowDoubleClicked)="onrowDoubleClicked($event)" pagination></ag-grid-angular>
</div>

<ng-template #upsertForm>
    <div class="modal" id="staticBackdrop" data-bs-backdrop="static" [style.display]=" 'block'" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-capitalize" id="staticBackdropLabel">{{title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="hide()"></button>
                </div>
                <div class="modal-body">
                    <form class="eventForm" #eventF="ngForm" (ngSubmit)="onSubmit(eventF,image)">
                        <div class="row" *ngIf="edit">
                            <div class="col-md-6">
                                <label for="">{{"Event.PromotionEventSerial" | translate}}</label>
                                <input type="text" name="serial" #serial="ngModel"
                                    [(ngModel)]="eventServices.ipromotionEvents.serial" disabled class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">{{"Event.Topic" | translate}}</label>
                                <input type="text" name="eventTopic" #eventTopic="ngModel"
                                    [(ngModel)]="eventServices.ipromotionEvents.eventTopic" class="form-control"
                                    required>
                                <div class="alert alert-danger my-1"
                                    *ngIf="eventTopic?.invalid && (eventF.submitted|| eventTopic?.dirty ||eventTopic?.touched)">
                                    <p *ngIf="eventTopic?.invalid||eventTopic.errors?.required">هذا الحقل مطلوب</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">{{"Event.TopicAR" | translate}}</label>
                                <input type="text" name="eventDescription" #eventDescription="ngModel"
                                    [(ngModel)]="eventServices.ipromotionEvents.eventDescription" class="form-control"
                                    required>
                                <div class="alert alert-danger my-1"
                                    *ngIf="eventDescription?.invalid && (eventF.submitted|| eventDescription?.dirty ||eventDescription?.touched)">
                                    <p *ngIf="eventDescription?.invalid||eventDescription.errors?.required">هذا الحقل
                                        مطلوب</p>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="startDate">{{"Event.StartDate" | translate}}</label>
                                <input type="datetime-local" name="startDate" #startDate="ngModel"
                                    [(ngModel)]="eventServices.ipromotionEvents.startDate" class="form-control"
                                    required>
                                <div class="alert alert-danger my-1"
                                    *ngIf="startDate?.invalid && (eventF.submitted|| startDate?.dirty ||startDate?.touched)">
                                    <p *ngIf="startDate?.invalid||startDate.errors?.required">هذا الحقل مطلوب</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="endDate">{{"Event.EndDate" | translate}}</label>
                                <input type="datetime-local" name="endDate" #endDate="ngModel"
                                    [(ngModel)]="eventServices.ipromotionEvents.endDate" class="form-control" required>
                                <div class="alert alert-danger my-1"
                                    *ngIf="endDate?.invalid && (eventF.submitted|| endDate?.dirty ||endDate?.touched)">
                                    <p *ngIf="endDate?.invalid||endDate.errors?.required">هذا الحقل مطلوب</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="maxParticipants">{{"Event.MaxParticipants" | translate}}</label>
                                <input type="number" name="maxParticipants" #maxParticipants="ngModel"
                                    [(ngModel)]="eventServices.ipromotionEvents.maxParticipants" class="form-control"
                                    required>
                                <div class="alert alert-danger my-1"
                                    *ngIf="maxParticipants?.invalid && (eventF.submitted|| maxParticipants?.dirty ||maxParticipants?.touched)">
                                    <p *ngIf="maxParticipants?.invalid||maxParticipants.errors?.required">هذا الحقل
                                        مطلوب</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="stations">
                                    Stations
                                </label>
                                <!-- <ng-multiselect-dropdown #stationsModel="ngModel" [placeholder]="'select stations'"
                                    [settings]="dropdownSettings" [data]="stations" [(ngModel)]="selectedStations"
                                    name="stations" (onSelect)="onItemSelect($event)"
                                    (onDeSelect)="onItemDeselect($event)" (onDeSelectAll)="onDeselectAll($event)"
                                    (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown> -->
                                <input type="text" class="form-control" name="searchClasses" id="searchClasses"
                                    #searchClasses placeholder="search station class"
                                    (keyup)="filterClasses(searchClasses.value)">
                                <ul class="list-group" id="stationsGroup">
                                    <li class="list-group-item" *ngFor="let stClass of ifilteredStationClasses">
                                        <input type="checkbox" name="class{{stClass.serial}}"
                                            id="class_{{stClass.serial}}"
                                            (change)="classSelected($event,stClass.serial)">
                                        {{stClass[translate.instant("StationClasses.StationClassColName")]}}
                                        <ul class="list-group">
                                            <li class="list-group-item"
                                                *ngFor="let st of filteredStations(stClass.serial)">

                                                <input type="checkbox" (change)="stationSelected(st.serial,$event)"
                                                    name="station{{st.serial}}" id="station_{{st.serial}}"
                                                    [checked]="isChecked(st.serial)">{{st[translate.instant("Station.StationName")]}}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- <div class="alert alert-danger my-1"
                                    *ngIf="stationsModel?.invalid && (eventF.submitted|| stationsModel?.dirty ||stationsModel?.touched)">
                                    <p *ngIf="stationsModel?.invalid||stationsModel.errors?.required">هذا الحقل
                                        مطلوب</p>
                                </div> -->
                                <!-- <div *ngFor="let station of stations">
                                    <input type="checkbox" class="stations"
                                        (change)="stationSelected(station.serial,$event)">
                                    {{
                                    station[translate.instant("Station.StationName")]}}
                                </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="image">image</label>
                                <input type="file" name="image" #image id="image" accept=".gif,.jpg,.jpeg,.png">
                            </div>
                            <div class="col-md-6"
                                *ngIf="eventServices.ipromotionEvents.serial && eventServices.ipromotionEvents.serial!=0">
                                <a class="btn btn-primary"
                                    href="https://www.besttopsystems.net:59990/Details/{{eventServices.ipromotionEvents.serial}}"
                                    target="_blank">
                                    Show Promo
                                </a>
                                <a class="btn btn-primary" (click)="copyToClipboard()">copy</a>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-primary" (click)="showDetails()">
                                        Add Details
                                    </button>
                                </div>
                            </div>
                            <ag-grid-angular #eventDetailsGrid style="width: 100%; height: 450px;"
                                class="ag-theme-alpine" [columnDefs]="detailsColumnDefs" [rowSelection]="rowSelection"
                                animateRows (gridReady)="ondetailsGridReady($event)"
                                (rowDoubleClicked)="onDetailsrowDoubleClicked($event)" pagination></ag-grid-angular> -->

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                            <button type="button" *ngIf="edit" (click)="deleteEvent()" class="btn btn-danger">
                                delete
                            </button>
                            <button type="button" (click)="hide()" class="btn btn-light">
                                cancel
                            </button>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #detailsUpsertForm>
    <div class="modal" id="staticBackdrop" data-bs-backdrop="static" [style.display]=" 'block'" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-capitalize" id="staticBackdropLabel">{{detailsTitle}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="hideDetails()"></button>
                </div>
                <div class="modal-body">
                    <form class="eventForm" #eventDF="ngForm" (ngSubmit)="onSubmitDetails(eventDF)">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">{{"Description" | translate}}</label>
                                <input type="text" name="description" #description="ngModel"
                                    [(ngModel)]="eventServices.ipromotionEventsDetails.description" class="form-control"
                                    required>
                                <div class="alert alert-danger my-1"
                                    *ngIf="description?.invalid && (eventDF.submitted|| description?.dirty ||description?.touched)">
                                    <p *ngIf="description?.invalid||description.errors?.required">هذا الحقل مطلوب
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">{{"DescriptionAra" | translate}}</label>
                                <input type="text" name="descriptionAra" #descriptionAra="ngModel"
                                    [(ngModel)]="eventServices.ipromotionEventsDetails.descriptionArabic"
                                    class="form-control" required>
                                <div class="alert alert-danger my-1"
                                    *ngIf="descriptionAra?.invalid && (eventDF.submitted|| descriptionAra?.dirty ||descriptionAra?.touched)">
                                    <p *ngIf="descriptionAra?.invalid||descriptionAra.errors?.required">هذا الحقل مطلوب
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                            <button type="button" *ngIf="editDetails" (click)="deleteEventDetail()"
                                class="btn btn-danger">
                                delete
                            </button>
                            <button type="button" (click)="hideDetails()" class="btn btn-light">
                                cancel
                            </button>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>