<!-- Dashboard -->


<!-- <div class="menu-item me-lg-1">
  <a class="menu-link py-3 btn btn-outline-success me-2" routerLinkActive="active">
    <span class="menu-title fs-3 fw-semibolder">
      {{'AUTH2.GENERAL2.changbranch' | translate}}
    </span> 
  </a>
</div>
<div class="menu-item me-lg-1">
  <a class="menu-link py-3 btn btn-outline-success me-2" routerLinkActive="active">
    <span class="menu-title fs-3 fw-semibolder">{{BranchName}}</span>
    </a>
</div> -->

<!-- <div class="menu-item me-lg-1">
  <a class="menu-link py-3 btn btn-outline-success me-2" routerLinkActive="active">
    <span class="menu-title fs-3 fw-semibolder">{{Year}}</span>
  </a>
</div> -->
<div class="menu-item me-lg-1">
  <a (click)="islogout()" class="menu-link px-5 cursor-pointer"> Sign Out </a>

</div>
<div class="menu-item me-lg-1">
  <a (click)="Chngelang()" class="menu-link px-5 cursor-pointer">
    <i class="material-icons">language</i>
  </a>
</div>